* { margin: 0; padding: 0; font-size: 1em; list-style-position: inside; }

body {
  font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

a {
  color: #C30301;
}

a:visited {
  color: #534;
}

#content {
  width: 800px;
  margin: 0 auto;
}

header {
  float: left;
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
}

header h1 {
  font-size: 32pt;
  background-color: #C30301;
  padding: 20px 0px 1px 3px;
  letter-spacing: -3px;
  font-family: Helvetica, Arial;
  text-shadow: #333 1px 1px 1px;
}

header h1 a {
  color: #FFF;
  text-decoration: none;
}

header h1 a:visited {
  color: #FFF;
}

header h2 {
  color: #555;
  font-size: 12pt;
  font-variant: small-caps;
  padding-left: 3px;
}

#main {
  float: left;
  width: 530px;
}

article {
  margin-bottom: 40px;
  color: #444;
}

article h1 {
  background-color: #DDD;
  font-size: 20pt;
  letter-spacing: -2px;
  line-height: 0.8em;
  padding: 15px 0px 7px 3px;
  font-family: Helvetica, Arial;
  text-shadow: #333 1px 1px 0px;
}

article h1 a {
  text-decoration: none;
}

article section {
  margin-top: 20px;
}

article h2 {
  font-size: 14pt;
  margin: 30px 0 15px;
}

article h3, article h4, article h5, article h6 {
  font-size: 12pt;
  margin: 30px 0 15px;
}

article time {
  color: white;
  display: block;
  font-family: Helvetica, Arial;
  font-size: 12pt;
  font-weight: bold;
  margin: -20px 5px 0px 0px;
  padding-left: 3px;
  text-align: right;
  font-style: italic;
  text-shadow: #AAA 1px 1px 1px;
}

article p, article pre, article ul, article blockquote {
  margin-bottom: 15px;
}

article ul, article pre, article blockquote {
  margin-left: 30px
}

article pre, article blockquote {
  border-left: 2px solid #DDD;
  padding: 3px 0px 3px 5px;
}

article pre {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}

article section.text {
  margin-left: 10px;
}

aside {
  float: right;
  width: 250px;
}

aside section {
  margin: 0px 0px 40px 0px;
}

aside section h1 {
  background-color: #EEE;
  color: #CCC;
  font-family: Helvetica, Arial;
  font-size: 14pt;
  letter-spacing: -1px;
  line-height: 0.8em;
  margin-bottom: 15px;
  padding: 15px 0px 5px 3px;
  text-shadow: #555 1px 1px 0px;
}

aside ul {
  margin-left: 10px;
}

aside .widget {
  margin: 20px 0;
}

img {
  border: 0;
}

label {
  font-size: 10pt;
}

input, textarea {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

input {
  padding: 3px 1px 3px 3px;
}

textarea, button {
  padding: 3px;
}

button {
  -webkit-appearance: push-button;
}

#main input, #main textarea {
  width: 530px;
}

#main .admin h1 {
  font-size: 14pt;
  margin-bottom: 15px;
}

#main .admin h2 {
  margin-top: 20px;
}

#post p {
  margin: 0 0 15px 0;
}

#message {
  margin: 20px 0;
}

a.edit {
  margin-left: 10px;
  font-size: 10pt;
  letter-spacing: normal;
  color: #A80;
}

footer {
  float: left;
  width: 800px;
  padding: 20px 0;
  text-align: center;
}